<nav ng-class="{'pdf-controls fixed': scroll > 100, 'pdf-controls': scroll <= 100}">
  <button class="btn btn-default btn-lg" ng-click="goPrevious()"><</span></button>
  <button class="btn btn-default btn-lg" ng-click="goNext()">></span></button>

  <button class="btn btn-default btn-lg" ng-click="zoomIn()">+</span></button>
  <button class="btn btn-default btn-lg" ng-click="zoomOut()">-</span></button>

  <button class="btn btn-default btn-lg" ng-click="rotate()">90</span></button>

  <span>Page: </span>
  <input type="text" min=1 ng-model="pageNum">
  <span> / {{pageCount}}</span>

</nav>

<hr>
<div style="overflow: auto">
<canvas id="pdf-canvas" class="rotate0"></canvas>
</div>