<div>
    <p>This is the angularjspdf view.</p>
    <div>
        <select data-ng-model="selectedPdf">
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
    </div>
    <div>You have selected {{pdfUrl}}</div>
    <div><input type="text" data-ng-model="pdfUrl"/> </div>

    <div class="wrapper">
        <ng-pdf template-url="/views/angularjs-pdf-viewer.html"></ng-pdf>
    </div>
</div>